In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("sample_student.csv")
data.head()

,teachers,class_names,num_students,users,totals,corrects,wrongs,start_times,session_names,dontknow,session_ids,num_questions
0,vrindasaini1@gmail.com,Chemistry,14,abhinav.singla05@gmail.com,2,1.0,1.0,2021-03-25 12:13:34.510713882 +0000 UTC m=+206...,POAC,NaN,0b74aead-b9a2-46e7-b869-18a88fb74ba8,6
1,vrindasaini1@gmail.com,Chemistry,14,anukriti8330@gmail.com,4,3.0,1.0,2021-03-25 12:13:34.510713882 +0000 UTC m=+206...,POAC,NaN,0b74aead-b9a2-46e7-b869-18a88fb74ba8,6
2,vrindasaini1@gmail.com,Chemistry,14,comedygenrater@gmail.com,6,5.0,1.0,2021-03-25 12:13:34.510713882 +0000 UTC m=+206...,POAC,NaN,0b74aead-b9a2-46e7-b869-18a88fb74ba8,6
3,vrindasaini1@gmail.com,Chemistry,14,abhinav.singla05@gmail.com,6,3.0,2.0,2021-04-03 13:17:42.23416857 +0000 UTC m=+2522...,Ionic compounds,1.0,de86710c-4dc7-415d-a52f-0a92ba111f3f,8
4,vrindasaini1@gmail.com,Chemistry,14,dilshan12sandhu@gmail.com,8,8.0,NaN,2021-04-03 13:17:42.23416857 +0000 UTC m=+2522...,Ionic compounds,NaN,de86710c-4dc7-415d-a52f-0a92ba111f3f,8

In [3]:
grouper = ['teachers','class_names','session_ids','session_names','start_times','num_students']
def is_present(row):
    if row['wrongs']==0 and row['corrects']==0 and row['totals']==0 and row['dontknow']==0:
        return 0
    else:
        return 1
data['present'] = data.apply(is_present,axis=1)

In [4]:
table1=data.groupby(grouper)[['present']].sum()
table1=table1.reset_index()

In [5]:
table2 = data[data['present']==1]
table2 = table2.drop(['present','num_questions'],axis=1).groupby(grouper).sum()
table2 = table2.reset_index()

In [6]:
table3 = data[data['present']==1]
table3 = table3.drop(['present','users','corrects','wrongs','dontknow','totals'],axis=1)
table3 = table3.drop_duplicates()

In [7]:
table4 = pd.merge(table1,table2,how='inner',on=['teachers','class_names','session_ids',
                                       'session_names','start_times','num_students'])

In [8]:
pd.merge(table3,table4,how='inner',on=['teachers','class_names','session_ids',
                                       'session_names','start_times','num_students'])

,teachers,class_names,num_students,start_times,session_names,session_ids,num_questions,present,totals,corrects,wrongs,dontknow
0,vrindasaini1@gmail.com,Chemistry,14,2021-03-25 12:13:34.510713882 +0000 UTC m=+206...,POAC,0b74aead-b9a2-46e7-b869-18a88fb74ba8,6,3,12,9.0,3.0,0.0
1,vrindasaini1@gmail.com,Chemistry,14,2021-04-03 13:17:42.23416857 +0000 UTC m=+2522...,Ionic compounds,de86710c-4dc7-415d-a52f-0a92ba111f3f,8,11,74,46.0,22.0,6.0
2,vrindasaini1@gmail.com,Chemistry,14,2021-05-25 10:50:37.180273747 +0000 UTC m=+439...,Uncertanity Principle,a6b2f9a3-9621-4751-a4cd-68566a7af08e,6,10,49,30.0,15.0,4.0
3,vrindasaini1@gmail.com,Chemistry,14,2021-06-28 13:03:09.002755668 +0000 UTC m=+249...,POAC,118e4e11-1687-480c-b887-cdc2445f650c,3,8,22,13.0,7.0,2.0
4,vrindasaini1@gmail.com,Chemistry,14,2021-06-30 13:13:19.798620931 +0000 UTC m=+422...,Concentration terms,f59b7656-d8db-4518-9090-5b39371364a4,1,4,4,3.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
87,akshatha.l@jigsawacademy.com,Data manipulation with Python,23,2021-11-06 04:20:31.236157757 +0000 UTC m=+178...,descriptive analytics,2668ef04-1156-4879-bbb4-48822c7b26c5,2,12,22,18.0,4.0,0.0
88,akshatha.l@jigsawacademy.com,Data manipulation with Python,23,2021-11-07 04:22:15.814492813 +0000 UTC m=+186...,data visualization,1fbc377d-98f5-491c-bbd3-84340196baa5,2,14,26,22.0,4.0,0.0
89,ribhuchawla@gmail.com,Science,1,2021-10-27 04:40:22.788465861 +0000 UTC m=+917...,Electricity,1aaa86e6-6888-4a6f-a0c7-6a237160935b,9,1,4,2.0,1.0,1.0
90,sushmita.clay@gmail.com,Accounts,9,2021-10-29 11:39:50.661171647 +0000 UTC m=+111...,Accounting Equation,33fc1a3a-a742-4f54-a1ab-ff8e97584023,8,9,62,42.0,17.0,3.0
91,msmsmontu@gmail.com,subject,1,2021-11-05 18:08:51.716812528 +0000 UTC m=+174...,class,c6ed46ad-6f9b-4170-bf97-1e4f59ed0b4a,2,1,2,0.0,2.0,0.0

In [9]:
report = pd.merge(table3,table4,how='inner',on=['teachers','class_names','session_ids',
                                       'session_names','start_times','num_students'])

In [10]:
report.to_csv("sample_teacher.csv",index=False)